<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
    {% assign page_title = page.title | default: site.title %}
    {% assign desc = page.description | default: site.description %}
    {% assign canonical_url = page.url | absolute_url %}
    <title>{{ page_title | escape }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ desc | escape }}">
    <meta name="author" content="{{ site.author | escape }}">
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    {% if site.favicon %}
        <link rel="icon" type="image/ico" href="{{ site.favicon_location }}">
        <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}">
    {% endif %}

    <meta property="og:description" content="{{ desc | escape }}">
    <meta property="og:title" content="{{ page_title | escape }}">
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:type" content="website">
    {% if site.og_image %}
        <meta property="og:image" content="{{ site.og_image | absolute_url }}">
    {% endif %}
</head>
<body>
    <div class="wrapper">
        <div class="navbar container">
            <a id="author-name" class="alignable pull-left" href="{{ '/' | relative_url }}">{{ site.title }}</a>
            <ul class="alignable pull-right navbar-ul">
                {% for x in site.data.nav %}
                    {% if x.name == "Resume" %}
                        <li class="alignable pull-right nav-list"><a target="_blank" href="{{ x.link }}">{{ x.name }}</a>
                    {% else %}
                        <li class="alignable pull-right nav-list"><a href="{{ x.link | relative_url }}">{{ x.name }}</a>
                    {% endif %}
                    {% if forloop.first == false %}
                        /
                    {% endif %}
                        </li>
                {% endfor %}
            </ul>
        </div>
        <div style="clear:both"></div>
        <hr>
        {% if page.is_contact == true %}
            <div class="container content contact">
                {{ content }}
            </div>
        {% else %}
            <div class="container content">
                {{ content }}
            </div>
        {% endif %}
    </div>
</body>
